<ion-view id="firmar">
  <ion-nav-title>{{ titulo }}</ion-nav-title>
  <ion-content padding="false" class="has-header" scroll='false'>  
    <canvas id='signatureCanvas2' style="border: 1px solid black; text-align:center; display: inline; background-color: rgb(255,255,255)"></canvas>
    <div class='button-bar' style="position: absolute; bottom: 0px; padding: 2px">
      <a class='button button-stable button-block button-outline' ng-click='clearCanvas()'>Limpiar</a>
      <a class='button button-assertive button-block' ng-click='saveCanvas()'>Guardar</a>     
    </div>
    <br>
  </ion-content>
</ion-view>