<ion-modal-view>
	<ion-header-bar class="bar-assertive">
	  <div class="button button-clear" ng-click="cerrarFirmaModal()">
	  	<span>Cancelar</span>
	  </div>
	  <h1 class="title">Firme aquí</h1>
	  <div class="button button-clear" ng-click="saveCanvas()" ng-show="!modoConsulta()">
	  	<span>Aceptar</span>
	  </div>
	</ion-header-bar>
    <ion-content id="content" padding="false" class="has-header" scroll='false'>  
	    <canvas id='signatureCanvas' style="border: 1px solid black; text-align:center; display: inline; background-color: rgb(255,255,255)"></canvas>
	    <div align="center" style="position: absolute; bottom: 0; left: 0; z-index: 9999">
	            <a class="button button-clear button-large ion-ios-trash-outline button-assertive" 
	         style="margin-top: 20px; font-size: 50px" ng-click="clearCanvas()"></a>
	        </div>
	    <br>
    </ion-content>
</ion-modal-view>
