<ion-modal-view>
    <ion-header-bar class="bar-assertive">
      <div class="button button-clear" ng-click="cancelarDetalle()"><span>Cancelar</span></div>
      <h1 class="title">Avance</h1>
      <div class="button button-clear" ng-click="guardarDetalle()" ng-show="!modoConsulta()"><span>Aceptar</span></div>
    </ion-header-bar>
    <ion-content scroll="false">
    	<ion-item id="obras-list-item29" class="item-assertive item-text-wrap" >{{data.titulo}}</ion-item>
      <form class="list center-form" name="form" style="padding-top: 20px;">
      <div class="item tabs tabs-icon-top " style="border: 0">
          <div class="tab-item positive" ng-class="">
              <i class="icon ion-clipboard" ng-class=""></i>
              Meta: {{itemEditar.cantidad}} {{itemEditar.unidad_medida}}
          </div>
          <div class="tab-item" ng-class="colorEstado()">
              <i class="icon" ng-class="iconoEstado()"></i>
              Completado: {{formatearPorcentaje(data.porcentaje)}}%
          </div>
      </div>

      <label class="item item-select">  
      <div class="input-label">Situación</div>
      <select class="form-control" ng-model="data.id_situacion" id="select">
        <option ng-repeat="situacion in situaciones" value="{{situacion.id}}"> 
          {{situacion.descripcion}}</option>   
      </select>
      </label>
		  
      <label class="item item-input item-stacked-label" id="login-input4">
		    <span class="input-label">Avance
        <span style="font-size: 12px">{{'( máx. '+ data.cantidad + ' )'}}</span>
        </span>
        <span class="help-block" style="color: red; font-size: 14px" ng-show="!form.avance.$valid">(Formato: 99,9999)</span>
		    <input placeholder="Cargar avance" type="number" name="avance" ng-pattern="/^[0-9]+(\.[0-9]{1,4})?$/" step="0.0001" 
		     ng-model="data.factor_intervencion" ng-focus="limpiar()"/> 
         
		  </label>	  

	    <label class="item item-input item-stacked-label item-icon-right" >
	    <label class="input-label ">Observación
	    <!-- <span style="font-size: 12px">{{data.observacion? ('('+(500 - data.observacion.length)+')') : ''}}</span>
      -->
      <span style="font-size: 12px">{{'( '+(500 - data.observacion.length)+ ' )'}}</span>
	     <i class="icon"></i>
	     </label> 
	     <textarea placeholder="Cargar observación" ng-model="data.observacion" rows="8" ng-focus="limpiar()"
	      ng-trim="false" maxlength="500" />    
		  </label>
		  
		</form>
    </ion-content>
  </ion-modal-view>
