<ion-view id="page8" style="" class="app-background">
  <ion-nav-title>Fiscalizaciones</ion-nav-title>
  <ion-nav-buttons side="right" class="has-header">
     <button class="button button-icon icon ion-ios-plus-empty" ng-click="ir({})"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="manual-remove-top-padding has-header" overflow-scroll="true">
    <ion-list id="fiscalizaciones-list11">
      <ion-item id="fiscalizaciones-list-item30" class="item-assertive">{{obra.obra.descripcion}}</ion-item>
    </ion-list>
    <div align="center">
      <button  ng-if="fiscalizaciones.length" ng-show="verificarPendientes()" class="button button-large button-assertive button-clear icon-left ion-ios-paperplane-outline"
               ng-click="enviarPendientes()">
        Enviar
      </button>
    </div>
    <ion-list id="fiscalizaciones-list6">
      <ion-item class="item-icon-left item-icon-right text-center" id="fiscalizaciones-list-item19" ng-repeat="fiscalizacion in fiscalizaciones | orderBy: fecha_intervencion : true" ng-class="fiscalizacion.estado == 'actualizando'? 'positive' : (fiscalizacion.estado == 'guardado' ? 'balanced' : '')"
      ng-click="ir(fiscalizacion)">

        <!-- <i class="icon ion-ios-information-outline" ng-click="info(); $event.stopPropagation()"></i>
        -->
        <i class="icon" ng-class="fiscalizacion.origen_app == false? 'ion-ios-monitor-outline' : 'ion-iphone' " ></i>
        {{fiscalizacion.fecha_intervencion | date: 'dd/MM/yyyy'}}
        <i class="icon ion-android-more-vertical" ng-click="$event.stopPropagation();mostrarActionSheet(fiscalizacion); "></i>
         <!--
         <div class="icon">

            <div class="balanced-bg" style="padding: 8px; border-radius: 5px; margin: 1px">
            <span class="ion-ios-list-outline light" style="margin-left: 5px; margin-right: 5px"
            ng-click="regarcarImagenes(); $event.stopPropagation()"> </span>
          </div>
            <div class="assertive-bg" style="padding: 8px; border-radius: 5px; margin: 1px">
            <span class="ion-document light"  style="margin-left: 5px; margin-right: 5px"  > </span>
            </div>
            <div class="positive-bg" style="padding: 8px; border-radius: 5px; margin: 1px">
            <span class="ion-document-text light" style="margin-left: 5px; margin-right: 5px"
            ng-click="regarcarImagenes(); $event.stopPropagation()"> </span>
          </div>

            <span class="ion-ios-arrow-right " style="margin-left: 20px"> </span>
          </div>
        -->
         <ion-option-button ng-show="$last && fiscalizacion.estado == 'guardado'" class="button-light button" ng-click="eliminarUltimo()">
          <i class="icon ion-trash-b assertive"></i>
        </ion-option-button>
        <ion-option-button class="button-assertive" ng-show="fiscalizacion.id_avance > 0 && fiscalizacion.numero_certificado == 0 && fiscalizacion.estado != 'actualizando'"
        ng-click="generarCertificado(fiscalizacion)">
          <i class="icon ion-document-text"></i>
        </ion-option-button>
        <ion-option-button class="button-energized" ng-show="fiscalizacion.id_avance > 0 && fiscalizacion.numero_certificado > 0"
        ng-click="obtenerPdf(fiscalizacion, 1)">
          <i class="icon ion-printer"></i>
        </ion-option-button>
        <ion-option-button class="button-positive" ng-show="fiscalizacion.id_avance > 0"
        ng-click="obtenerPdf(fiscalizacion, 3)">
          <i class="icon ion-ios-list-outline"></i>
        </ion-option-button>
        <ion-option-button class="button-balanced" ng-show="fiscalizacion.id_avance > 0"
        ng-click="obtenerPdf(fiscalizacion, 2)">
          <i class="icon ion-document"></i>
        </ion-option-button>
      </ion-item>
      <div ng-if="!fiscalizaciones.length" class="no-results">
        <p>No hay fiscalizaciones</p>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
