<ion-view id="page6" style="" can-swipe-back="false">
  <ion-nav-title>Fiscalización</ion-nav-title>
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="descartar()" ng-if="recuperando"><span>Descartar</span></button>
  </ion-nav-buttons>
   <ion-nav-buttons side="right" class="has-header">
    <button class="button button-clear" ng-click="guardarFiscalizacion()" ng-show="!modoConsulta()"><span>Guardar</span></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header" overflow-scroll="true">

    <h5 id="fiscalizacion-heading3" style="color: rgb(159, 159, 159);">{{local.establecimiento.descripcion}}</h5>
    <h5 id="fiscalizacion-heading2" style="color: rgb(0, 0, 0); text-align: right;">{{obra.obra.descripcion}}</h5>
    <div align="center">
	    <ion-segment ng-model="categories" style="width: auto"  balanced>
	    <ion-segment-button value="items" style="width: 33%">
	      Items
	    </ion-segment-button>
	    <ion-segment-button value="anexos" style="width: 33%">
	      Anexos
	    </ion-segment-button>
	    <ion-segment-button value="documentos" style="width: 33%">
	      Informe
	    </ion-segment-button>
	  </ion-segment>
	 </div>
        <div class="spacer" style="width: 290px; height: 10px;"></div>

   <div ng-show="categories=='items'">
     <div class="animated fadeIn">
       <div class="row">
           <div class="col">
              <button ng-click="openDatePicker()"
              ng-disabled="modoConsulta() || actualizando()"
              class="button button-block button-outline button-positive icon icon-left ion-ios-calendar-outline"
                        >
                    {{fiscalizacion.fecha_intervencion | date:'dd/MM/yyyy'}}
                </button>
                <!--
                <onezone-datepicker datepicker-object="onezoneDatepicker">
                <button ng-disabled="modoConsulta() || actualizando()"
                        class="button button-block button-outline button-positive show-onezone-datepicker"
                        >
                    {{onezoneDatepicker.date | date:'dd/MM/yyyy'}}
                </button>
                </onezone-datepicker>
                -->
           </div>
           <div class="col col-center col-20">
           <button class="button button-icon icon ion-ios-search button-light button-block"
                    ng-click="buscador = !buscador"></button>
           </div>
       </div>

    <div id="fiscalizacion-form3" class="list">

    <div ng-show="fiscalizacion.avances" >

        <div ng-show="buscador" class="item item-input-inset item-inline">
            <label class="item-input" ng-show="true">
            <input type="text" placeholder="Buscar" ng-model="search" style="padding-right: 2px">
            </label>

          <button ng-click="search = ''" style="margin-left: 0px;" class="button button-icon button-light">
          <i class="ion-close" ng-show="search.length" ></i>
          </button>
            <div class="button-bar " style="margin-left: 5px; ">
                <div class="button button-light" ng-class="boton.a? 'button-stable active': ''" ng-click="boton.a = !boton.a">
                    <i class="ion-ios-circle-outline" ></i>
                </div>
                <div class="button button-light" ng-class="boton.b? 'button-stable active': ''" ng-click="boton.b = !boton.b">
                    <i class="ion-ios-circle-filled"></i>
                </div>
                <div class="button button-light" ng-class="boton.c? 'button-stable active': ''" ng-click="boton.c = !boton.c">
                    <i class="ion-ios-checkmark balanced"></i>
                </div>
            </div>

        </div>

      </div>

      <ion-item ng-repeat="item in fiscalizacion.avances  | filter:search | avanceFilter: boton" class=" item-icon-left " style="" ng-click="cargarDetalle(item)" style="">
          {{item.item}}
          <i class="icon" ng-class="iconoEstadoDetalle(item)" style="font-size: 30px"></i>

      </ion-item>
      <!--
      <button class="button button-block button-outline button-positive button-clear" ng-show="true"
      ng-click="subirFotos()"><span>Subir</span></button>
            <button class="button button-block button-outline button-assertive button-clear" ng-show="true"
      ng-click="testFileDownload()"><span>Bajar</span></button>
            <button class="button button-block button-outline button-assertive button-clear" ng-show="true"
      ng-click="testFileUpload()"><span>Subir</span></button>
      <button class="button button-block button-outline button-balanced button-clear" ng-show="true"
      ng-click="test()"><span>Test</span></button>

      -->
      </div>
     </div>
   </div>

    <div ng-show="categories=='anexos'">
      <div class="animated fadeIn">
        <div class="list card">
          <div class="item item-divider item-icon-right" ng-click="fotosToggler(fotosToggle)">
            Fotos
          <div class="icon">
            <span ng-class="fotosToggle ? 'ion-ios-reload' : ''" style="padding-right: 20px"
            ng-click="recargarImagenes(); $event.stopPropagation()"> </span>
            &nbsp;
            <span ng-class="fotosToggle ? 'ion-android-arrow-dropup' : 'ion-android-arrow-dropdown'"> </span>
          </div>

          </div>
          <div id="fotos" ng-show="fotosToggle">
            <a class="item item-list-detail" ng-show="allImages.length > 0">
              <ion-scroll direction="x" >
                <img ng-repeat="image in allImages" ng-src="{{(image.tempSanitized || (image.src || 'img/cargando.gif'))| randomSrc}}}}" ng-click="showImages($index)" class="image-list-thumb"/>
              </ion-scroll>
            </a>
            <a class="item item-list-detail" ng-hide="allImages.length > 0">
              No posee ninguna foto
            </a>
            <ion-item class="item-icon-left positive" ng-click="takePicture()" id="fiscalizacion-list-item27" style=""
            ng-show="!modoConsulta()">
              <i class="icon ion-ios-camera"></i>Agregar
            </ion-item>
          </div>
        </div>

        <div class="list card" id="fiscalizacion-card22">
        <div class="item item-divider item-icon-right" ng-click="toggler(toggleMap = !toggleMap);">
          <i class="icon" ng-class="toggleMap ? 'ion-android-arrow-dropup' : 'ion-android-arrow-dropdown'"></i>
          Ubicación
          </div>
          <div id="mapa" ng-show="toggleMap">

            <div class=" item item-image" style="">
              <div id="map" ng-show="map"></div>
            </div>
            <ion-item class="item-icon-left positive" ng-show="!modoConsulta()" ng-click="obtenerUbicacion()" style="">
              <i class="icon {{botonObtenerUbicacion}}"></i>{{textoObtenerUbicacion}}
                <span class="item-note" ng-show="ubicacion_info" style="font-size: 10px">{{ubicacion_info}}</span>
            </ion-item>
          </div>
        </div>
        <div class="list card">
        <div class="item item-divider item-icon-right" ng-click="toggleFirma = !toggleFirma">
            <i class="icon" ng-class="toggleFirma ? 'ion-android-arrow-dropup' : 'ion-android-arrow-dropdown'"></i>
            Firmas
        </div>
        <div id="firmas" ng-show="toggleFirma">
            <ion-item ng-click="modoConsulta()? false:mostrarFirmaModal(1)" class="item-icon-left" style="">
              <i class="icon ion-ios-compose-outline"></i>Firma Fiscalizador</ion-item>
            <div class=" item item-image" ng-show="firma">
              <img src="{{firma}}" ng-click="modoConsulta()? false:mostrarFirmaModal(1)"  style="display: block; margin-left: auto; margin-right: auto; width: 60% ;padding: 5px" >
            </div>
            <ion-item ng-click="modoConsulta()? false:mostrarFirmaModal(2)" class="item-icon-left" style="">
              <i class="icon ion-ios-compose-outline"></i>Firma Contratista</ion-item>
            <div class=" item item-image" ng-show="firmaContratista">
              <img src="{{firmaContratista}}" ng-click="modoConsulta()? false:mostrarFirmaModal(2)" style="display: block; margin-left: auto; margin-right: auto; width: 60% ;padding: 5px">
            </div>
        </div>

        </div>
    </div>
    </div>


    <div ng-show="categories=='documentos'">
      <div class="animated fadeIn">
      <div class="list" ng-repeat="tipo in tipos_verificaciones">
        <div class="item item-divider item-text-wrap">
          {{tipo.descripcion}}
        </div>
        <div ng-show="tipo.tipo_formulario.id == 2">
          <ion-checkbox class="item-text-wrap checkbox-assertive" ng-repeat="opcion in tipo.opciones" ng-model="opcion.seleccionado">{{opcion.descripcion}}</ion-checkbox>

        </div>
        <div ng-show="tipo.tipo_formulario.id == 1">
          <ion-radio class="item-text-wrap " ng-repeat="opcion in tipo.opciones" name="{{tipo.id_tipo}}" ng-value="opcion.id" ng-model="tipo.seleccionado">{{opcion.descripcion}}</ion-radio>
          <div class="item item-input item-floating-label" >
            <label class="input-label ">Observación
              <span style="font-size: 12px">{{'( '+(500 - tipo.valorDescriptivo.length)+ ' )'}}</span>
            </label>
            <textarea placeholder="Cargar observación" ng-model="tipo.valorDescriptivo" rows="2"
                      ng-trim="false" maxlength="500" ></textarea>
          </div>
        </div>
        <div ng-show="tipo.tipo_formulario.id == 3">
          <div ng-repeat="opcion in tipo.opciones" class="item item-input">
            <span class="input-label">{{opcion.descripcion}}</span>
            <input style="width: 20px" type="number" min="0" inputmode="numeric" pattern="[0-9]*" placeholder="0"
                   ng-model="opcion.valorNumerico">
          </div>
        </div>
      </div>
      <div class="list">
        <div class="item item-divider item-text-wrap">
          Controles de Fiscalización <span style="font-size: 12px">{{'( '+(500 - controles.length)+ ' )'}}</span>
        </div>
        <div class="item item-input item-stacked-label" >
        <textarea placeholder="Cargar controles" ng-model="fiscalizacion.control" rows="4"
                  ng-trim="false" maxlength="500" ></textarea>
        </div>

        </div>


      <div class="list">
        <div class="item item-divider item-text-wrap item-icon-right">
          Observaciones Específicas y Medidas Adoptadas
          <i class="icon ion-ios-plus-outline assertive" ng-click="agregarObservacion()"></i>
        </div>
        <div class="item animado" ng-show="observacion.id == undefined ? true: (observacion.id > 0)" ng-repeat="observacion in fiscalizacion.observaciones">
          <div class="item item-input item-stacked-label" >
            <textarea placeholder="Observación" ng-model="observacion.observacion" rows="2"
                      ng-trim="false" maxlength="500" ></textarea>
          </div>
          <div class="item item-input item-stacked-label" >
            <textarea placeholder="Medida adoptada" ng-model="observacion.medidaAdoptada" rows="2"
                      ng-trim="false" maxlength="500" ></textarea>
          </div>

          <button class="button button-block button-outline button-assertive button-small icon-right ion-trash-a" ng-click="borrarObservacion(observacion)">
            borrar observación
          </button>
        </div>
        <!--
          <button class="button button-block button-assertive button-small icon-right ion-plus" ng-click="agregarObservacion(observacion)">
          agregar observación
        </button>
        -->
      </div>
      <div class="item item-divider item-text-wrap">
        Conclusiones y Avances <span style="font-size: 12px">{{'( '+(500 - conclusiones.length)+ ' )'}}</span>
      </div>
      <div class="item item-input item-stacked-label" >
        <textarea placeholder="Cargar conclusiones" ng-model="fiscalizacion.conclusion" rows="4"
                  ng-trim="false" maxlength="500" ></textarea>
      </div>
    </div>
    </div>

    <div style="height: 40px"></div>
  </ion-content>
</ion-view>
