<ion-view title="Guardado" hide-back-button="true" id="page7" style="">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="guardado-card21">
      <ion-item class="balanced" id="guardado-list-item17" style="">Éxito</ion-item>
      <div class="item item-body" id="guardado-list-item-container2" style="">
        <div id="guardado-markdown2">
          <p style="margin-top:0px;color:#5CD55D;">La fiscalización fue guardada corectamente</p>
        </div>
      </div>
      <ion-item class="item-icon-left positive" id="guardado-list-item18" ui-sref="menu.locales" style="">
        <i class="icon ion-checkmark"></i>OK</ion-item>
    </div>
    <div class="list card" >
      <ion-item class="assertive" style="">Guardado (Sin conexión)</ion-item>
      <div class="item item-body" style="">
        <div >
          <p style="margin-top:0px;color: red;">Sincronice la aplicación cuando haya conexión a internet</p>
        </div>
      </div>
      <ion-item class="item-icon-left positive" ui-sref="menu.locales" style="">
        <i class="icon ion-checkmark"></i>OK</ion-item>
    </div>
  </ion-content>
</ion-view>