<div>
<div class="modal image-modal transparente" ng-click="closeModal()" on-swipe-up="closeModal()" on-swipe-down="closeModal()">
     <ion-slides options="sliderOptions" slider="sliderDelegate">
        <ion-slide-page ng-repeat="image in allImages">
        <div align="center" style="position: absolute; top: 0; left: 0; right: 0; z-index: 9999">
            <a class="button button-outline icon-left ion-trash-b button-assertive" 
         style="margin-top: 50px;" ng-click="borrar(image)">Borrar</a>
        </div>
          <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="true" overflow-scroll="false"
          zooming="true" min-zoom="1" style="width: 100%; height: 100%">
            <img ng-src="{{image.temp || (image.src || 'img/cargando.gif')}}" class="fullscreen-image"/>
            </ion-scroll>
        </ion-slide-page>
    </ion-slides>
</div>
</div>
