<ion-view id="page2" class="app-background">
  <ion-nav-title>Locales</ion-nav-title>
  <ion-nav-buttons side="right">

    </ion-nav-buttons>
  <ion-content padding="false" class=" manual-remove-top-padding has-header" overflow-scroll="true">
  <!--
  <ion-refresher
    pulling-text="Estirar para recargar"
    refreshing-text="Recargando"
    on-refresh="recargar()">
     </ion-refresher>
  -->
    <ion-list id="locales-list4">

      <ion-item ng-repeat="local in locales" class="item-icon-right" ng-click="ir(local)">
        {{local.establecimiento.descripcion}}
        <i class="icon ion-ios-arrow-right"><span ng-show="contarPendientes(local) > 0" class="badge badge-assertive icon-badge">{{contarPendientes(local)}}</span></i>
        <ion-option-button class="button-balanced" ng-click="masInfo(local)">Más</ion-option-button>
      </ion-item>
     <div ng-if="!locales.length" class="no-results">
        <p>No hay resultados</p>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
