<ion-view title="Login" hide-nav-bar="true" hide-back-button="true" cache-view="false" nav-transition="none" id="page1" class="app-background-login">
  <ion-content padding="true"  class="manual-ios-statusbar-padding" scroll="false">
    <form id="login-form2" class="list center-form" ng-submit="login()">
      <div style="margin-top: 25px; margin-bottom: 25px">
        <img src="img/fiscalizacion.jpg" style="display: block; margin-left: auto; margin-right: auto;" width="70%" height="auto"/>
      </div>
      <label class="item item-input" id="login-input4">
        <span class="input-label">Usuario</span>
        <input placeholder="admin" type="text" ng-model="data.username" ng-focus="limpiar()"/>
      </label>
      <label class="item item-input" id="login-input5">
        <span class="input-label">Contraseña</span>
        <input placeholder="admin" type="password" ng-model="data.password" ng-focus="limpiar()"/>
      </label>
      <div ng-class="error">
          {{mensajeError}}
      </div>

    <button type="{{logging? 'button':'submit'}}" class="button button-assertive button-block">
    <ion-spinner ng-show="logging" class="spinner-light" icon="lines"></ion-spinner>
    <span ng-hide="logging" class="button-text">Entrar</span>
    </button>
    <ion-toggle ng-disabled="logging" toggle-class="toggle-assertive" ng-checked="data.recordar" id="login-toggle4" ng-model="data.recordar" class="ion-toggle-transparent">Recordar contraseña?</ion-toggle>

    </form>
    <!--
    <button ng-click="probarApp()" class="button button-positive button-block" type="button" style="position: relative; bottom: 2px">
      Con datos de Pruebas
    </button>
    -->
  </ion-content>
</ion-view>
