<ion-side-menus enable-menu-with-back-views="false" style="" >
  <ion-side-menu-content>
    <ion-nav-bar class="bar-assertive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menu"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="menu">

    <ion-content padding="false" class="side-menu-left" overflow-scroll="true">
    <ion-item class="app-background-menu" style="border: 20px !important; padding-top: 45px">
    <!-- <ion-item class="item-royal" style="border: 20px !important;"> -->
      <img src="img/fiscalizacion.jpg" style="max-width:100%; max-height:100%;">
    </ion-item>

      <ion-list id="menu-list1">
      <!--
        <ion-item class="item-icon-right" id="menu-list-item1" ng-click="salir()" menu-close="" style="">Salir
          <i class="icon ion-log-out"></i>
        </ion-item>
      -->

        <ion-item class="item-icon-left" style="border: 0px !important;" ng-click="actualizar()" style="">
          <i class="icon ion-ios-cloud-download-outline"></i>
          Actualizar datos
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" style="border: 0px !important;" ng-click="sincronizar()" style="">
          <i class="icon ion-ios-paperplane-outline"></i>
          <span>Enviar pendientes</span>
          <i class="icon">
            <span ng-show="contarPendientes() > 0" class="badge badge-assertive icon-badge2">{{contarPendientes()}}</span>
          </i>

        </ion-item>
       <!--
        <ion-item class="item-icon-left" style="border: 0px !important;" ng-click="sincronizar()" style="">
          <i class="icon ion-ios-cloud-upload-outline"></i>
          Enviar fiscalizaciones
          </ion-item>

        <ion-item class="item-icon-left" style="border: 0px !important;" href="#" onclick="window.open('http://www.mec.gov.py', '_system', 'location=yes');">
          MEC
          <i class="icon ion-earth"></i>
        </ion-item>
        -->
        <!--<ion-item class="item-icon-left" style="border: 0px !important;" ng-click="verManual()" style="">
          <i class="icon ion-ios-book-outline"></i>
          Manual de Usuario
        </ion-item>-->
        <ion-item class="item-icon-left" style="border: 0px !important;" ng-click="politicas()" style="">
          <i class="icon ion-ios-unlocked-outline"></i>
          Políticas de Privacidad
        </ion-item>
        <!--
        <ion-item class="item-icon-left" style="border: 0px !important;" ng-click="acercaDe()" style="">
          <i class="icon ion-ios-help-empty"></i>
          Acerca de
        </ion-item>
        -->
        <ion-item class=" item-icon-left " style="border-bottom: 0px !important;">
          <i class="icon ion-ios-person-outline"></i>
          <span>{{$root.fiscalizador.nombrePersona}}</span>
        </ion-item>
        <ion-item class=" item-icon-left" ng-class="!sesionIniciada? 'balanced':'assertive'" style="border: 0px !important;" id="menu-list-item1"  menu-close style="" ng-click="cerrarSesion()" >
        {{iniciarSesionTitulo}}
          <i class="icon" ng-class="!sesionIniciada? 'ion-log-in':'ion-log-out'" ></i>
        </ion-item>

          <!-- Icon made by Freepik from www.flaticon.com  -->
      </ion-list>
      <div style="position: absolute; bottom: 0px; width: 100%"  ng-click="acercaDe()" >
          <div style="text-align: center">
            <p>Versión 1.0.0</p>
          </div>
      </div>
    </ion-content>

  </ion-side-menu>
</ion-side-menus>
