<ion-view id="page5" class="app-background">
  <ion-nav-title>Obras</ion-nav-title>
  <ion-content padding="false" class=" manual-remove-top-padding has-header" overflow-scroll="true">
    <ion-list id="obras-list13">
      <ion-item id="obras-list-item29" class="item-assertive" >{{local.establecimiento.descripcion}}</ion-item>
    </ion-list>
    <ion-list id="obras-list5">
      <ion-item ng-repeat="obra in obras" class="item-icon-right" ng-click="ir(obra)">
        {{obra.obra.descripcion}}
        <i class="icon ion-ios-arrow-right"><span ng-show="contarPendientes(obra) > 0" class="badge badge-assertive icon-badge">{{contarPendientes(obra)}}</span></i>
        <ion-option-button class="button-balanced" ng-click="masInfo(obra)">Más</ion-option-button>
      </ion-item>
      <div ng-if="!obras.length" class="no-results">
        <p>No hay obras</p>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
