<ion-view title="{{ titulo }}" id="page8" style="">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-log-out" ui-sref="login"> Salir</button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
  	<img src="{{src}}" style="width: 100%"></img>
  	<a ng-click="openPDF()" class="button button-assertive  button-block">Abrir PDF</a>
    <button class="button" ng-click="download()">Descargar</button>
    <button class="button" ng-click="openPDF2()">Abrir</button>
  </ion-content>
</ion-view>