<ion-modal-view>
    <ion-header-bar class="bar-assertive">
      <div class="button button-clear" ng-click="cararPoliticas()"><span>Cerrar</span></div>
      <h1 class="title">Políticas de Privacidad</h1>
    </ion-header-bar>
    <ion-content padding="true" overflow-scroll="true">
          <div class="card">
            <div class="item positive item-icon-left">
              <i class="icon ion-ios-camera-outline"/>
              <h2>Cámara</h2>
            </div>
            <div class="item item-body">
              Es utilizada para capturar las evidencias fotográficas de una fiscalización. No es utilizada para ningún otro fin.
            </div>
          </div>

          <div class="card">
            <div class="item positive item-icon-left">
              <i class="icon ion-ios-location-outline"/>
              <h2>Ubicación</h2>
            </div>
            <div class="item item-body">
              Este servicio es utilizado única y exclusivamente para capturar el lugar correcto donde se realiza la fiscalización. En ningún momento es utilizado en segundo plano.
            </div>
          </div>

          <div class="card">
            <div class="item positive item-icon-left">
              <i class="icon ion-iphone"/>
              <h2>Almacenamiento</h2>
            </div>
            <div class="item item-body">
              Es necesario acceder al servicio de almacenamiento del dispositivo a fin de guardar las evidencias fotográficas y firmas correspondientes a una fiscalización de un obra.
            </div>
          </div>

          <div class="card">
            <div class="item positive item-icon-left">
              <i class="icon ion-android-globe"/>
              <h2>Internet</h2>
            </div>
            <div class="item item-body">
              El servicio de internet es utilizado para la comunicación con el servidor (Backend). Es utilizado para la función de login, para la obtención de datos de fiscalizaciones y para el envío de fiscalizaciones. También es utilizado para la descargas de PDF y el acceso a la página principal del MEC. En ningún momento se utiliza el servicio de internet para otro fin más que el descripto anteriormente. 
            </div>
          </div>
          <div style="height: 20px"></div>
    </ion-content>
  </ion-modal-view>