$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "../www/lib/ionic/scss/ionic";
.center-form {
	/*position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	*/
	    label {
		background-color: rgba(255,255,255,0.7);
		border-color: rgba(255,255,255,0);
		&.top-input {
			border-radius: 4px 4px 0px 0px;
		}
		
		&.bottom-input {
			border-radius: 0px 0px 4px 4px;
		}
		
	}
	.button-positive {
		opacity: 0.7;
	}
	
}
.ion-toggle-transparent {
	background-color: rgba(255,255,255,0.7);
	border-color: rgba(255,255,255,0);
	label {
		background-color: rgba(255,255,255,0);
		border-color: rgba(255,255,255,0);
	}
	
}
