@charset "UTF-8";

.titulo{
	color: #219421;
}

.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.item.item-assertive {
    border-color: #219421;
    background-color: #219421;
    color: #fff;
}

ion-header-bar{
  background-color: #219421 !important;
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {
    background: transparent !important;
}

.transparente {
    background-color: rgba(0,0,0,0.8);
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
}

.slider {
    width: 100%;
    height: 100%;
}

.shows {
    height: 25px;
    margin-top: 10px;
      text-align: center;
      background-color: #219421;
      border-radius: 4px;
      color: white;
}
.hides {
    height: 25px;
    margin-top: 10px;
      text-align: center;
      background-color: rgba(239,71,58,0);
      border-radius: 4px;
      color: white;
}

.vertical_banner {
    float: bottom;
    text-align: left;
    height: auto;
    position:relative;                 /* added */
}

/*Para el mapa*/
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 250px;
}

div.outer-div {
  height: 250px;
  width: 100%;
  background-color: lightgray;
}

div.middle-div {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.app-background {
  background-color: rgb(255, 255, 255);
}

.app-background-login {
  background-color: rgb(100, 100, 100);
}

.app-background-menu {
  background-color: rgb(130, 130, 130);
}

.no-results {
  color: gray;
  font-size: 20px;
  padding: 50px;
  text-align: center;
}

.my-animation.ng-enter {
  -webkit-animation: flipInY 1s;
  -moz-animation: flipInY 1s;
  animation: flipInY 1s;
}

.my-animation.ng-leave {
  -webkit-animation: flipOutY 1s;
  -moz-animation: flipOutY 1s;
  animation: flipOutY 1s;
}

.combo{
  display: block !important;
  max-width: 100% !important;
  width: 100% !important;
}

.item-select select {
position: relative !important;
}


.item-select:after {
top: 60% !important;

}

.button_set, .button_today, .button_close, .selected_date_full{
  background-color: white !important;
  color: #219421 !important;
}
.selected_date_full{
  border-bottom: 1px solid #219421 !important;
}
.prev_btn_section .button-clear, .next_btn_section .button-clear {
  color: #219421 !important;
}

.selected_date{
    background-color: #219421 !important;

}
.today{
  border-color: #219421 !important;
}
.year_select, .month_select{
  border-bottom: 1px solid #219421 !important;
}
.year_select:after, .month_select:after{
  color: #219421 !important;
}

.ionic_datepicker_modal .header, .ionic_datepicker_modal .footer {
    background-color: #219421 !important;
}


.ionic_datepicker_modal .button-clear  {
    color: #219421 !important;
    background-color: white !important;
}

.ionic_datepicker_modal .button_set, .ionic_datepicker_modal .button_today , .ionic_datepicker_modal .button_close{
    color: white !important;
    background-color: #219421 !important;
}


.title {
  transform: translate3d(0px, 0px, 0px) !important;
}
.item .icon .icon-badge {
  position: absolute;
  top: 2px;
  right: -5px;
  font-size: 10px;
}

.item .icon .icon-badge2 {
  position: absolute;
  right: 0px;
  font-size: 10px;
}

/*
 .spinner svg {
   padding-top: 2px;
  width: 38px;
 height: 38px;
 stroke: #fff;
  fill: #999;
 }
 */

.spinner svg {
  height:5vh;
  display:inline-block;
  vertical-align:middle
}

.item input,
textarea {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}
input[type=number]{
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
}

.radio-icon {
  color: #219421 !important;
}

.modal{
  top: 0 ;
  bottom: 0 ;
  left: 0 ;
  right: 0 ;
  width: 100% ;
}


.item-radio .item-content{
  padding-left:64px !important;
  padding-right: 16px !important;
}

.item-radio .radio-icon{
  left:0 !important;
}


